.background-1 {
  background-color: #1073c6; }

.background-2 {
  background-color: #e5fad7; }

.background-3 {
  background-color: #fef1f4; }

/*--- Global Background ---*/
.background-main-color {
  background-color: #0864b2; }

.background-second-color {
  background-color: #52aaf4; }

/*--- Text Color ---*/
.text-main-color {
  color: #0864b2; }

.text-second-color {
  color: #52aaf4; }

/*--- Border Main Color ---*/
.border-main-color {
  border-color: #0864b2 !important; }

.border-second-color {
  border-color: #52aaf4 !important; }

ul.pagination.color li a {
  background-color: #0864b2; }

ul.pagination.color-1 li a {
  background-color: #52aaf4; }

a.btn-outline-primary {
  border-color: #0864b2;
  color: #0864b2; }
  a.btn-outline-primary:hover {
    background-color: #0864b2; }

section .section-title h1 span {
  color: #0864b2; }

.owl-theme .owl-controls .owl-page span {
  border: 1px solid #fbdc32; }

.widget h4.widget-title {
  color: #0864b2; }

.widget.widget_nav_menu ul li a:before,
.widget.widget_recent_entries ul li a:before,
.widget.widget_recent_comments ul li a:before,
.widget.widget_archive ul li a:before,
.widget.widget_categories ul li a:before,
.widget.widget_meta ul li a:before,
.widget.widget_rss ul li a:before {
  color: #0864b2; }

h4.table-title {
  color: #0864b2; }

.nav-tabs-2 .nav-link {
  background-color: #0864b2; }

.timeline-item .date:before {
  color: #0864b2; }

header a.model-link span {
  background-color: #0864b2; }

header ul.nav-menu > li.active > a {
  color: #0864b2; }
header ul.nav-menu > li > a:hover {
  color: #0864b2; }

.mega-links-4columns ul.sub-menu-columns > li > a {
  color: #0864b2; }

header a.model-link span {
  background-color: #0864b2; }

/*# sourceMappingURL=main.css.map */


/* ------- REVOLUTION STYLE SHEET ------- */
#rev_slider_18_1 .uranus.tparrows {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0)
}

#rev_slider_18_1 .uranus.tparrows:before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s
}

#rev_slider_18_1 .uranus.tparrows:hover:before {
  opacity: 0.75
}

.hermes.tp-bullets {}

.hermes .tp-bullet {
  overflow: hidden;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  position: absolute
}

.hermes .tp-bullet:hover {
  background-color: rgba(0, 0, 0, 0.21)
}

.hermes .tp-bullet:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1px rgb(255, 255, 255);
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease
}

.hermes .tp-bullet.selected:after {
  height: 100%
}